name: publish nuget
on:
  push:
    tags:
      - '**'

jobs: 
  publish:
    runs-on: ubuntu-latest
    steps:
    
    - name: Print tag ref
      run: echo $GITHUB_REF
      
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        filter: tree:0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Restore dependencies
      run: |
        dotnet restore ./src/HaveIBeenPwned.Client.Abstractions/HaveIBeenPwned.Client.Abstractions.csproj
        dotnet restore ./src/HaveIBeenPwned.Client/HaveIBeenPwned.Client.csproj
        dotnet restore ./src/HaveIBeenPwned.Client.PollyExtensions/HaveIBeenPwned.Client.PollyExtensions.csproj
      
    - name: Build
      run: |
        dotnet build ./src/HaveIBeenPwned.Client.Abstractions/HaveIBeenPwned.Client.Abstractions.csproj --configuration Release --no-restore
        dotnet build ./src/HaveIBeenPwned.Client/HaveIBeenPwned.Client.csproj --configuration Release --no-restore
        dotnet build ./src/HaveIBeenPwned.Client.PollyExtensions/HaveIBeenPwned.Client.PollyExtensions.csproj --configuration Release --no-restore
    
    - name: Tests
      run: dotnet test --filter "Category!=AcceptanceTests"

    - name: Acceptance test
      env:
        HibpOptions__ApiKey: ${{ secrets.HibpOptions__ApiKey }}
      run: dotnet test --filter "Category=AcceptanceTests"

    - name: Pack
      run: |
        dotnet pack ./src/HaveIBeenPwned.Client.Abstractions/HaveIBeenPwned.Client.Abstractions.csproj --configuration Release --no-build --output packages
        dotnet pack ./src/HaveIBeenPwned.Client/HaveIBeenPwned.Client.csproj --configuration Release --no-build --output packages
        dotnet pack ./src/HaveIBeenPwned.Client.PollyExtensions/HaveIBeenPwned.Client.PollyExtensions.csproj --configuration Release --no-build --output packages
      
    - name: Publish package
      run: |
        dotnet nuget push "packages/*.nupkg" --source "https://api.nuget.org/v3/index.json" --api-key ${{secrets.NUGET_API_KEY}} --skip-duplicate

    - name: Upload packages
      uses: actions/upload-artifact@main
      with:
        name: nuget-packages
        path: packages/*.nupkg
